/*--------------FONTS---------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/*--------BASE & UTILITIES----------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.6;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../images/header-cover/copa-cover.jpg);
  background-size: cover;
}

/*--------------ANIMATION---------------*/
@keyframes moveInBottom {
  0% {
    display: none;
    visibility: none;
    opacity: 0;
    transform: translateY(10rem);
  }

  50% {
    opacity: 1;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    opacity: 1;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  50% {
    opacity: 1;
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*--------------HEADER---------------*/
.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(16, 67, 122, 0.9),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/header-cover/messi-cover-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #ffffff;
  padding: 3.5rem 14rem;
}
/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  display: flex;
  list-style: none;
}
.navigation-item {
  margin-right: 1rem;
}
.navigation-link,
.login-btn {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.1s;
  border-radius: 2px;
}
.navigation-link {
  padding: 1rem 1.5rem;
}
.navigation-link:hover {
  background-color: #e02c6d;
}

.login-btn {
  padding: 1rem 2.3rem;
  background-color: #e02c6d;
}
.login-btn:hover {
  background-color: hsl(338, 74%, 63%);
}
.login-icon {
  margin-right: 0.6rem;
}
/* HEADER CONTENT */
.header-content {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.header-content--box {
  width: 50%;
  align-self: center;
}
.heading-primary {
  font-size: 6.4rem;
  font-style: bold;
  margin-bottom: 2.5rem;
  width: 90%;
  transition: all 0.2s;
  animation: moveInRight 1.2s ease-out;
  animation-fill-mode: backwards;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #e02c6d;
  padding: 1rem 2.2rem;
  color: #ffffff;
  border-radius: 3px;
  transition: all 0.1s;
}
.btn-animated {
  animation: moveInBottom 1.5s ease 1s;
  animation-fill-mode: backwards;
}
.btn-primary span {
  margin-left: 0.4rem;
}
.btn-primary:hover {
  background-color: #e65b8e;
}
.header-banner {
  width: 55rem;
  animation: moveInLeft 1.5s ease;
  animation-fill-mode: backwards;
}

/*--------------PLAYERS---------------*/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 7rem;
}

/* PLAYER CARD */
.player-card {
  width: 33rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.player-card:hover {
  transform: translateY(-5px);
}
.player-name {
  font-size: 2.8rem;
  font-weight: 700;
  color: #18191f;
  margin: 1rem 0 0.4rem;
}
.player-card img {
  width: 100%;
}
.player-details {
  color: #6c6c6c;
}

/*-----------GALLERY------------*/
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.heading-gallery {
  font-size: 4.8rem;
  margin: 3rem;
  font-weight: 600;
}
.album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;
  position: relative;
}
.album-image {
  display: inline-block;
  width: 25rem;
  height: 20rem;
  object-fit: cover;
  object-position: top;
  border-radius: 3px;
  transition: all 0.3s;
  cursor: pointer;
}
.album-image:hover {
  transform: scale(1.2);
  z-index: 10;
}

/*-------------HIGHLIGHTS--------------*/
.highlight {
  margin: 4rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-highlight {
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: 600;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.video-frame {
  width: 38rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2.5rem 3rem;
  margin-bottom: 5rem;
  border-radius: 3px;
}

.video-title {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

/*----------------MATCHES--------------*/
.match {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}
.match-box {
  flex: 1;
  padding: 4rem 10rem;
}
.match-box img {
  width: 80%;
}
.match-box p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #6c6c6c;
  margin-bottom: 2.4rem;
}
.heading-match {
  font-size: 4.8rem;
  color: #0a0826;
  font-size: bold;
}
