/*--------------FONTS---------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/*--------BASE & UTILITIES----------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.6;
}
main {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../images/copa-cover.jpg);
  background-size: cover;
}

/*--------------ANIMATION---------------*/
@keyframes moveInBottom {
  0% {
    display: none;
    visibility: none;
    opacity: 0;
    transform: translateY(10rem);
  }

  50% {
    opacity: 1;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    opacity: 1;
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  50% {
    opacity: 1;
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*--------------HEADER---------------*/
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/messi-cover-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #ffffff;
  padding: 3.5rem 14rem;
}
/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  display: flex;
  list-style: none;
}
.navigation-item {
  margin-right: 1rem;
}
.navigation-link,
.login-btn {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.1s;
  border-radius: 2px;
}
.navigation-link {
  padding: 1rem 1.5rem;
}
.navigation-link:hover {
  background-color: #10437a;
}

.login-btn {
  padding: 1rem 2.3rem;
  background-color: #10437a;
}
.login-btn:hover {
  background-color: #165ca7;
}
.login-icon {
  margin-right: 0.6rem;
}
/* HEADER CONTENT */
.header-content {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.header-content--box {
  align-self: center;
}
.heading-primary {
  font-size: 6.4rem;
  font-style: bold;
  margin-bottom: 2.5rem;
  transition: all 0.2s;
  animation: moveInRight 1.2s ease-out;
  animation-fill-mode: backwards;
}
.btn-primary {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #10437a;
  padding: 1rem 2.2rem;
  color: #ffffff;
  border-radius: 3px;
  animation: moveInBottom 1.5s ease 1s;
  animation-fill-mode: backwards;
  transition: all 0.1s;
}
.btn-primary span {
  margin-left: 0.4rem;
}
.btn-primary:hover {
  background-color: #165ca7;
}
.header-banner {
  width: 55rem;
  animation: moveInLeft 1.5s ease;
  animation-fill-mode: backwards;
}

/*--------------CONTAINER---------------*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 7rem;
}

/* PLAYER CARD */
.player-card {
  width: 33rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  font-weight: 400;
}
.player-name {
  font-size: 2.8rem;
  font-weight: 700;
  color: #18191f;
  margin: 1rem 0 0.4rem;
}
.player-card img {
  width: 100%;
}
.player-details {
  color: #6c6c6c;
}
